.container-historique {
  padding: 35px 55px;
}
.table-container-historique {
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 25px;
}

.container-historique h1 {
  margin-bottom: 15px;
}

.table-container-historique h1 {
  margin: 10px 0 10px 10px;
}

@media screen and (max-width: 768px) {
  .container-historique {
    padding: 35px 0 15px 35px;
  }
  .table-container-historique {
    padding: 5px 0 5px 5px;
    border-radius: 15px 0 0 15px;
  }
}
