.nav-top {
  display: flex;
  width: 100%;
  justify-content: space-between;

  height: 100px;
  align-items: center;
}
.left-nav-top {
  display: flex;
  gap: 15px;
  align-items: center;
}
.logo-top {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  width: 5%;
  cursor: pointer;
}
.logo-top img {
  height: 7vh;
}
.left-nav-top .back {
  border: 1px solid rgba(231, 231, 231, 1);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  cursor: pointer;
}
.left-nav-top .back svg {
  height: 28px;
  width: 28px;
}
